cloudflare-app[app="reading-time"] {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  transition: opacity 150ms ease-in-out;
  text-align: left;
  z-index: 999999;
}

cloudflare-app[app="reading-time"][data-position~="top"] {
  top: 0;
}

cloudflare-app[app="reading-time"][data-position~="bottom"] {
  bottom: 0;
}

cloudflare-app[app="reading-time"][data-position~="left"] {
  left: 0;
}

cloudflare-app[app="reading-time"][data-position~="right"] {
  right: 0;
}

cloudflare-app[app="reading-time"][data-position~="center"] {
  left: 0;
  text-align: center;
  width: 100%;
}

cloudflare-app[app="reading-time"] > message-container {
  display: block;
  opacity: 0.95;
  padding: 1em 1.5em;
}

cloudflare-app[app="reading-time"][data-position~="left"] > message-container,
cloudflare-app[app="reading-time"][data-position~="right"] > message-container {
  display: inline-block;
}

cloudflare-app[app="reading-time"][data-position="left top"] > message-container {
  border-bottom-right-radius: .1875em;
}

cloudflare-app[app="reading-time"][data-position="left bottom"] > message-container {
  border-top-right-radius: .1875em;
}

cloudflare-app[app="reading-time"][data-position="right top"] > message-container {
  border-bottom-left-radius: .1875em;
}

cloudflare-app[app="reading-time"][data-position="right bottom"] > message-container {
  border-top-left-radius: .1875em;
}
